.buyButton {
    width: 100%;
    height: 54px;
    background: linear-gradient(90deg, #12FF89 0%, #6CFFC0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    gap: 8px;
    margin-bottom: 8px;
}

.buyButtonText {
    font-size: 18px;
    color: #1B1B30;
    font-family: "Sora", sans-serif;
    font-weight: bold;
}
