.stockBadge {
    background-color: #0C1A19;
    justify-content: center;
    width: 180px;
    height: 40px;
    padding: 12px 12px;
    border-radius: 400px;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 0.5px solid #59A873;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.stockText {
    color: #46D876;
    font-size: 12px;
}
